<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>

    <!-- Oauth 소셜로그인 -->
    <div class="login_github">
        <a href="/oauth2/authorization/github">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                 alt="GitHub Logo" width="20" style="vertical-align: middle; margin-right: 8px;">
            👉 GitHub로 로그인
        </a>
    </div>
    <!-- Oauth 소셜로그인 end -->
</div>
</body>
</html>